# File: config.env
# ---------------------------------------------------------
# Replace this with your actual Google Cloud Project ID
export PROJECT_ID="your-project"
# ---------------------------------------------------------

export REGION="your-region"
export ZONE="your-zone"
export CLUSTER_NAME="jenkins-demo-cluster"
export REPO_NAME="your-artifact_registry-repo-name"
export JENKINS_IMAGE_NAME="your-jenkins-image-name"
export JENKINS_IMAGE_TAG="v1"

# Automatically construct the image URL
export IMAGE_URL="${REGION}-docker.pkg.dev/${PROJECT_ID}/${REPO_NAME}/${JENKINS_IMAGE_NAME}:${JENKINS_IMAGE_TAG}"

# --- GitHub Automation Config ---
# Generate a token here: https://github.com/settings/tokens
# Scopes needed: 'repo' (full control of private repositories)
export GITHUB_USER="your-github-username"
export GITHUB_TOKEN="trial"